{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<p class="subtitle">🗓 <time>{{ .Date.Format (default "02-01-2006" .Site.Params.dateFmt) }}</time></p>
			<p class="subtitle">🏷 
				{{ with .Params.tags }}
				{{ range $i, $e := . }}
					{{ if $i }} &bull; {{ end }}
						<a href="{{ "tags/" | absURL }}{{ $e | urlize }}" rel="tag">{{ $e }}</a>
					{{ end }}
				{{ end }}
			</p>
			<p class="subtitle">📷 {{ len .Params.fotos }}</p>
			{{ if not .Params.vigente }}<p class="subtitle">💰 <b>VENDIDO</b></p>{{ end }}
			<br>

			<table>
				<tr>
					<th colspan="2">Detalles</th>
				</tr>
				{{ if .Params.contacto }}
				<tr>
					<td>Quién:</td>
					<td>{{ .Params.contacto.nombre }}
						{{ if .Params.contacto.slack }}<br> _<sub>slack:</sub> <small><a href="https://devschile.slack.com/team/{{ .Params.contacto.slack }}">{{ .Params.contacto.slack }}</a></small>{{ end }}
						{{ if .Params.contacto.email }}<br> _<sub>email:</sub> <small><a href="mailto:{{ .Params.contacto.email }}">{{ .Params.contacto.email }}</a></small>{{ end }}
						{{ if .Params.contacto.celular }}<br> _<sub>celu:</sub> <small><a href="tel:{{ .Params.contacto.celular }}">{{ .Params.contacto.celular }}</a></small>{{ end }}
					</td>
				</tr>
				{{ end }}
				{{ if .Params.precio }}
				<tr>
					<td>Precio:</td>
					<td>{{ .Params.precio }}</td>
				</tr>
				{{ end }}
				{{ if .Params.negociable }}
				<tr>
					<td>Negociable:</td>
					<td>{{ .Params.negociable }}</td>
				</tr>
				{{ end }}
				{{ if .Params.lugar }}
				<tr>
					<td>Lugar:</td>
					<td>{{ .Params.lugar }}</td>
				</tr>
				{{ end }}
			</table>

			<div class="content">
				{{ .Content }}
			</div>

			{{ if .Params.fotos }}
			<table>
				<tr>
					<th>Fotos</th>
				</tr>
				{{ range .Params.fotos }}
				<tr><td><img src="{{ . }}"></td></tr>
				{{ end }}
			</table>
			{{ end }}
		</article>
	</main>
{{ end }}
