<article>
	<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<table>
		<tr>
			<td>🗓 <small><time>{{ .Date.Format (default "02-01-2006" .Site.Params.dateFmt) }}</time></small></td>
			<td>🏷 <small>
				{{ with .Params.tags }}
				{{ range $i, $e := . }}
					{{ if $i }} &bull; {{ end }}
						<a href="{{ "tags/" | absURL }}{{ $e | urlize }}" rel="tag">{{ $e }}</a>
					{{ end }}
				{{ end }}
			</small></td>
			<td>📷 <small>{{ len .Params.fotos }}</small></td>
		</tr>
	</table>
	{{ if not .Params.vigente }}<p>💰 <b>VENDIDO</b></p>{{ end }}
	<div class="content">
		{{ .Summary | truncate 200 }}
		<a href="{{ .Permalink }}" class="readmore">Leer más...</a>
	</div>
</article>
